body {
    font-family: "Inter", sans-serif;
}
.loader {
    border-top-color: #3498db;
    animation: spin 1s linear infinite;
}
.loader-large {
    border: 8px solid #e5e7eb;
    border-top: 8px solid #3498db;
    animation: spin 1s linear infinite;
}
.loader-small {
    border: 4px solid #e5e7eb;
    border-top: 4px solid #3498db;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* Custom toggle switch */
.toggle-checkbox:checked {
    right: 0;
    border-color: #4f46e5;
}
.toggle-checkbox:checked + .toggle-label {
    background-color: #4f46e5;
}
.overlay {
    border: 2px solid var(--overlay-color);
    transition: background-color 0.2s;
}
.overlay:hover {
    background-color: rgba(var(--overlay-color-rgb), 0.7);
}